[package]
name = "zazaswitcher"
version = "0.1.0"
description = "Steam Account Switcher"
authors = ["you"]
edition = "2021"

[build-dependencies]
tauri-build = { version = "2", features = [] }

[dependencies]
tauri = { version = "2", features = [] }
tauri-plugin-shell = "2"
serde = { version = "1", features = ["derive"] }
serde_json = "1"
winreg = "0.52"
reqwest = { version = "0.11", features = ["rustls-tls"] }
tokio = { version = "1", features = ["rt-multi-thread"] }
thiserror = "1"

[profile.release]
panic = "abort"
codegen-units = 1
lto = true
opt-level = "s"
strip = true
